button{
  background-color:rgb(238, 131, 37);
  border:none;
  border-radius: 3px;
  color:white;
  cursor:pointer;
  display: block;
  margin:15px auto;
  padding:10px 20px;
  transition: 0.3s;
}
button{
  background-color:rgb(252, 150, 87);
}
.diameter-value{
  font-size: 14px;
  font-weight: 400;
}
form{
  height:70vh;
}
.form-instruction{
  color:rgb(164, 164, 164);
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 10px;
}
h2{
  font-weight: 300;
}
.hint{
  color:gray;
  font-size: 10px;
}
input,select{
  border:none;
  border-bottom: 3px solid rgb(194, 194, 194);
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  padding:5px 10px;
  margin-top: 8px;
  width:100%;
}
input:focus,select:focus{
  border-bottom: 3px solid rgb(238, 131, 37);
}
label{
  display: block;
  margin-bottom:0.7rem;
  margin-top:0.7rem;
  font-size: 11px;
  font-weight: 600;
}
.success{
  animation: fade-out 2s 2s forwards;
  color:green
}
.warning{
  color:red;
  margin-top: 5px;
  font-weight: 400;
  font-size: 13px;
}
@keyframes fade-out{
  0%{opacity:1}
  100%{opacity:0}
}